@charset "utf-8";

/* ==============================
ver : 1.00
============================== */


/* 페이지 가이드 전용 ================================================== */
.article_pg_guide {margin:0 20px 50px; border:1px solid #CCC;}
.article_pg_guide > h3 {margin-bottom:10px; padding:10px; border-bottom:1px solid #999; font-size:15px; color:#FFF; background:#555;}
.article_pg_guide > .inner {margin-bottom:5px; padding:10px;}
.article_pg_guide > .inner.bg {background-color:#EEE;}
.article_pg_guide > .inner > h4 {margin:10px 0; padding:10px; border-bottom:1px solid #555; font-size:15px;}
.article_pg_guide > .inner > p {margin:20px 0 10px 0; font-size:12px;}

.pg_guide_tit {margin-bottom:20px; padding:25px 0 14px; border-bottom:1px solid #EEE;}
.pg_guide_tit .tit {font-size:24px; color:#000;}





/* 약관박스 */
.term_scroll {overflow-y:scroll; clear:both; line-height:1.4em; padding:10px; border-radius:4px; font-size:0.6875rem; background-color:#F8F8F8;}
.term_scroll .txt_str {font-size:0.7500rem; color:#FF243E;}
.term_scroll .privacy_con {padding:0}
.term_scroll .privacy_con .privacy_listbox {margin:30px 0 0; padding:0;}
.term_scroll .privacy_con .privacy_listbox:first-child {margin-top:0; padding:0;}
.term_scroll .privacy_con .privacy_listbox .privacy_tit {padding:0;}
.term_scroll .privacy_con .privacy_listbox .privacy_tit2 {margin-top:30px; padding:0;}
.term_scroll .privacy_con .privacy_listbox > .privacy_tit2:first-child {margin-top:0;}




/* text ================================================== */



/* button ================================================== */
/* base ========== */
.btn_col1 {display:inline-block; box-sizing:border-box; border:1px solid #e4e4e4; font-size:1.000rem; color:#333333 !important; text-align:center; vertical-align:middle; background-color:#ffffff;}
.btn_col2 {display:inline-block; box-sizing:border-box; border:1px solid #6c7079; font-size:1.000rem; color:#ffffff !important; text-align:center; vertical-align:middle; background-color:#6c7079;}
.btn_col3 {display:inline-block; box-sizing:border-box; border:1px solid #ffc000; font-size:1.000rem; color:#ffffff !important; text-align:center; vertical-align:middle; background-color:#ffc000;}
.btn_col4 {display:inline-block; box-sizing:border-box; border:1px solid #5e677c; font-size:1.000rem; color:#ffffff !important; text-align:center; vertical-align:middle; background-color:#5e677c;}
/* size */
.btn_col1.ty1, .btn_col2.ty1, .btn_col3.ty1, .btn_col4.ty1 {height:30px; line-height:30px; padding:0 16px;}
.btn_col1.ty2, .btn_col2.ty2, .btn_col3.ty2, .btn_col4.ty2 {}
.btn_col1.ty3, .btn_col2.ty3, .btn_col3.ty3, .btn_col4.ty3 {height:42px; line-height:42px; padding:0 20px; font-size:1.143rem;}
.btn_col1.ty4, .btn_col2.ty4, .btn_col3.ty4, .btn_col4.ty4 {height:57px; line-height:57px; padding:0 30px; font-size:1.429rem;}
/* round */
.btn_col1.rnd, .btn_col2.rnd, .btn_col3.rnd, .btn_col4.rnd {border-radius:57px;}
/* disabled */
.btn_col1.disabled, .btn_col2.disabled, .btn_col3.disabled, .btn_col4.disabled {border-color:#ADADAD; color:#ffffff !important; cursor:default; pointer-events:none; background-color:#ADADAD;}
/* active */cv
.btn_col1.disabled.active, .btn_col2.disabled.active, .btn_col3.disabled.active, .btn_col4.disabled.active {cursor:pointer; pointer-events:inherit;}



a.btn_txt {font-family:"KBFGTextB"; font-size:0.714rem; font-weight:bold; color:#ababab; text-decoration:underline;}





/* 버튼_아이콘 */
.btn_ic_src {display:inline-block; width:42px; height:42px; text-indent:-9999rem; vertical-align:middle; border-radius:5px; background-color:#f6f6f6;background-size:auto 18px; background-repeat:no-repeat; background-position:center center; background-image:url("../images/icon/btn_search.png");}
.btn_ic_minus {display:inline-block; width:42px; height:42px; text-indent:-9999rem; vertical-align:middle; border-radius:2px 0 0 2px; background-color:#5e677c; background-size:20px auto; background-repeat:no-repeat; background-position:center center;background-image:url("../images/icon/btn_vol_minus.png");}
.btn_ic_plus {display:inline-block; width:42px; height:42px; text-indent:-9999rem; vertical-align:middle; border-radius:0 2px 2px 0; background-color:#5e677c; background-size:20px auto; background-repeat:no-repeat; background-position:center center; background-image:url("../images/icon/btn_vol_plus.png");}

.btn_ic2_sorting {display:inline-block; height:30px; box-sizing:border-box; padding:0 20px; border-radius:30px; border:1px solid #DDD; text-indent:-9999rem; vertical-align:middle; background-color:#FFF; background-size:auto 14px; background-repeat:no-repeat; background-position:center center; background-image:url("../images/icon/btn_sorting.png");}





/* 목록 ========================================================================================= */

/* text :list ================================================== */
.list_txt {font-size:13px;}
.list_txt > li {line-height:1.4; margin:0 0 5px 8px; text-indent:-8px; color:#333;}
.list_txt > li:before {content:""; display:inline-block; width:3px; height:3px; margin:8px 5px 0 0; border-radius:50%; vertical-align:top; background-color:#666;}
.list_txt.ty2 > li {margin:0 0 5px 6px; text-indent:-6px; color:#000;}
.list_txt.ty2 > li:before {width:1px; height:1px; margin:8px 5px 0 0; background-color:#000;}
.list_txt.ty3 > li {position:relative; margin:0; padding-left:8px; color:#666; text-indent:0;}
.list_txt.ty3 > li ~ li {margin-top:9px;}
.list_txt.ty3 > li:before {content:'-'; position:absolute; left:0; top:-1px; margin:0; color:#666; background:none;}
.list_txt.ty3 > p {color:#666;}
.list_txt.sml {font-size:11px;}
.list_txt.sml li {margin-bottom:3px;}
.list_txt strong {color:#FF243E;}
.list_txt > li .list_txt li {margin-top:0;}

.txt_bul {position:relative; padding-left:5px; font-size:0.6875rem;}
.txt_bul:before {content:'·'; position:absolute; left:0;}
.txt_bul strong {color:#FF243E; ;}
.txt_bul.non_bul:before {display:none;}



/* button :list ================================================== */
.list_lnk:after {content:""; display:block; clear:both;}
.list_lnk li {position:relative; float:left; padding:0 14px;}
.list_lnk li:first-child {padding-left:0;}
.list_lnk li:before {content:""; position:absolute; left:0; top:2px; height:14px; border-left:1px solid #CCC;}
.list_lnk li:first-child:before {display:none;}
.list_lnk li a {display:block; font-size:15px; color:#666;}
/* 우측정렬시 사용 */
.list_lnk.rgt li:last-child {padding-right:0;}





/* tbl_write ================================================== */
/* tbl_write ========== */
table.tbl_list {}
table.tbl_list th,
table.tbl_list td {height:38px; padding:4px; border:1px solid #e4e4e4; font-size:1.071rem; color:#555; text-align:center;}
table.tbl_list thead th {background-color:#f6f6f6;}
table.tbl_list thead tr:first-child th {border-top-color:#CCC;}
table.tbl_list tbody th {}
table.tbl_list tbody td {}
table.tbl_list .txt_l {padding-left:15px;}
table.tbl_list .txt_r {padding-right:15px;}


/* tbl_write ========== */
table.tbl_write {}
table.tbl_write tbody th, 
table.tbl_write tbody td {height:38px; padding:4px 8px; border:1px solid #e4e4e4; font-size:1.071rem; color:#555; text-align:left;}
table.tbl_write tbody th {font-weight:bold; background:#f6f6f6;}
table.tbl_write tbody tr:first-child th,
table.tbl_write tbody tr:first-child td {border-top-color:#CCC;}




/* tab ========================================================================================= */
/* tab1 ============================== */
.tab_wrap {}
.tab_wrap.outer > .tab_tit {position:relative; padding:0 14px 0;}
.tab_wrap.outer > .tab_tit:before {content:""; position:absolute; left:0; right:0; bottom:0; height:1px; background-color:#ededed;}
/*
.tab_wrap.outer > .tab_tit > ul {}
.tab_wrap.outer > .tab_tit > ul:after {content:""; display:block; clear:both;}
.tab_wrap.outer > .tab_tit > ul > li {float:left; text-align:center;}
.tab_wrap.outer > .tab_tit > ul > li > a {display:inline-block; position:relative; bottom:0;}
.tab_wrap.outer > .tab_tit > ul > li > a span {display:block; padding:16px 8px 12px; font-family:"KBFGTextB"; font-size:1.214rem; color:#979797;}
.tab_wrap.outer > .tab_tit > ul > li > a.active span {border-bottom:3px solid #ffc000; color:#333;}
.tab_wrap.outer > .tab_tit > ul > li .txt_sml {margin-left:3px; font-size:0.6875rem;}
*/
.tab_wrap.outer > .tab_tit > ul {display:flex; flex-wrap:wrap; justify-content:flex-start; width:100%;}
.tab_wrap.outer > .tab_tit > ul > li {flex:1;}
.tab_wrap.outer > .tab_tit > ul > li > a {display:flex; align-items:center; justify-content:center; position:relative; z-index:1;}
.tab_wrap.outer > .tab_tit > ul > li > a span {display:block; padding:16px 30px 12px; font-family:"KBFGTextB"; font-size:1.214rem; color:#979797;}
.tab_wrap.outer > .tab_tit > ul > li > a.active span {border-bottom:3px solid #ffc000; color:#333;}
.tab_wrap.outer > .tab_tit > ul > li .txt_sml {margin-left:3px; font-size:0.6875rem;}

.tab_wrap.inner > .tab_tit {margin:26px 18px;}
.tab_wrap.inner > .tab_tit > ul {display:flex; flex-wrap:wrap; justify-content:flex-start; width:100%;}
.tab_wrap.inner > .tab_tit > ul li {flex:1;}
.tab_wrap.inner > .tab_tit > ul li a {display:flex; align-items:center; justify-content:center; height:50px; box-sizing:border-box; border:1px solid #DDD; border-left-width:0; text-align:center; background-color:#FFF;}
.tab_wrap.inner > .tab_tit > ul li:first-child a {border-radius:2px 0 0 2px; border-left-width:1px;}
.tab_wrap.inner > .tab_tit > ul li:last-child a {border-radius:0 2px 2px 0;}
.tab_wrap.inner > .tab_tit > ul li a.active {border-color:#5e677c; color:#FFF; background-color:#5e677c;}


.tab_wrap .tab_con_wrap {}
.tab_wrap .tab_con {display:none;}
.tab_wrap .tab_con.ty2 {margin-top:0;}
.tab_wrap .tab_con.ty3 {margin-top:20px;}
.tab_wrap .tab_con.active {display:block;}





/*  ========================================================================================= */
/* 가로스크롤 */
.bx_list_scroll {overflow-y:hidden; position:relative;}
.bx_list_scroll > ul {overflow-x:scroll; margin-bottom:-6px; padding-bottom:6px; font-size:0; white-space:nowrap; color:#FFF;}
.bx_list_scroll > ul > li {display:inline-block; margin-right:10px; font-size:1.000rem;}
.bx_list_scroll > ul > li:first-child {margin-left:18px;}
.bx_list_scroll > ul > li:last-child {margin-right:18px;}
.bx_list_scroll > ul > li > a {display:block; overflow:hidden; border-radius:4px;}
.bx_list_scroll > ul > li .tit {display:block; margin-top:10px; font-size:0.6875rem; color:#FFF; text-align:center;}
.bx_list_scroll > ul > li img {width:100%;}

/* 서브article */
.article_con {margin:40px 0; padding:0 18px;}
.article_con:after {content:""; display:block; clear:both;}
/* 서브타이틀영역 */
.group_con_tit {position:relative; margin:0 0 10px;}
.group_con_tit:after {content:""; display:block; clear:both;}
.group_con_tit .tit {float:left; font-size:0.9375rem;}
.group_con_tit .tit strong {color:#ED4C6B}
.group_con_tit .txt {font-size:0.6875rem; color:#999;}
.group_con_tit .area_rgt {float:right; color:#000;}
.group_con_tit .area_rgt.txt {margin-top:5px;}
.group_con_tit .area_rgt .btn_more_txt {right:18px; top:3px;}



/* 안내문구 ========================================================================================= */
/* error, nodata */
.notice_list {padding-top:150px; padding-bottom:30px; text-align:center; background-repeat:no-repeat; background-position:center 50px;}
.notice_list .tit {margin:5px 0; font-size:0.9375rem; color:#000;}
.notice_list p {margin-top:10px; font-size:0.6875rem; color:#666;}
.notice_list p em {color:#000;}
.notice_list p strong {color:#FF243E;}
.notice_list p.dist2 {margin-top:20px;}
.notice_list.ty1 {background-image:url("../images/icon/coupon_notice_ic_01.svg");}
.notice_list.ty2 {background-image:url("../images/icon/coupon_notice_ic_02.svg");}
.notice_list.ty3 {background-image:url("../images/icon/coupon_notice_ic_03.svg");}
.notice_list .btn_wrap a,
.notice_list .btn_wrap button {height:30px; line-height:30px; margin-top:38px; padding:0 20px;}























/* layout ========================================================================================= */
/* header */
.header {overflow:hidden; height:44px; box-sizing:border-box; border-bottom:1px solid #ececec; background-color:#FFF;}
.header .tit1 {display:inline-block; line-height:45px; margin:0 0 0 43px; font-family:"KBFGTextM"; font-size:1.357rem; vertical-align:middle;}
.header .tit2 {display:inline-block; line-height:45px; font-size:0.857rem; color:#555; vertical-align:middle;}
.header .tit2:before {content:""; display:inline-block; height:10px; margin:1px 10px 0 8px; border-left:1px solid #BBB;}

.header .btn_back {position:absolute; top:6px; left:10px; width:30px; height:30px; font-size:0; text-indent:-9999em; background:url('../../Content/images/common/btn_gnb_back.png') no-repeat center center; background-size:11px auto}
.header .btn_allmenu {position:absolute; top:6px; right:10px; width:30px; height:30px; font-size:0; text-indent:-9999em; background:url('../../Content/images/common/btn_gnb_menu.png') no-repeat center center; background-size:20px auto}
.header .btn_home {position:absolute; top:6px; right:18px; width:30px; height:30px; font-size:0; text-indent:-9999em; background:url('../../Content/images/common/btn_gnb_home.png') no-repeat center center; background-size:26px auto}


/* 본문 */
.container {padding:0 0 0 0;}
.contents {}






/* 팝업 - dim ========================================================================================== */
.dim {position:fixed; z-index:99; left:0; right:0; top:0; bottom:0; cursor:wait; background:rgba(0, 0, 0, .5);}



/* 팝업 - 전체팝업 ========================================================================================== */
.layer_wrap {display:none; overflow:auto; position:fixed; z-index:100; left:0; right:0; top:0; bottom:0; background-color:#FFF;}
.layer_wrap.active {display:block;}


.layer_wrap .layer_header {overflow:hidden; position:relative; height:45px; box-sizing:border-box; border-bottom:1px solid #ededed; background-color:#FFF;}
.layer_wrap .layer_header .tit1 {display:inline-block; line-height:45px; margin:0 0 0 18px; font-family:"KBFGTextM"; font-size:1.357rem; vertical-align:middle;}
.layer_wrap .layer_header .tit2 {display:inline-block; line-height:45px; font-size:0.857rem; color:#555; vertical-align:middle;}
.layer_wrap .layer_header .tit2:before {content:""; display:inline-block; height:10px; margin:1px 10px 0 8px; border-left:1px solid #BBB;}
.layer_wrap .layer_header .btn_close {position:absolute; top:3px; right:12px; width:19px; height:19px; padding:10px ;text-indent:-9999em; background:url('../../Content/images/icon/btn_close_blk_37.png') no-repeat center center; background-size:19px 19px}


.layer_wrap .layer_container {}
.layer_wrap .layer_content {}













@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {
	.layer_quick_reserve {overflow:scroll; top:0;}
}

/*********************************
* 해상도 320 이하
*********************************/
@media screen and (max-width:320px) {
	.layer_wrap3 .layer_content.type2 {overflow:auto; max-height:470px;}
}

