@charset "utf-8";



.swiper-pagination {position:static; margin:15px 0; padding:0;}

.swiper-pagination-bullet {opacity:1; background:#EEE;}

.swiper-pagination-bullet.swiper-pagination-bullet-active {background:#ffcc00;}


/* main ========================================================================================= */
/* layout ============================== */
/* header */






/* 차량검색 ========================================================================================= */
/* 브랜드검색 ============================== */
.section {margin:18px 0 27px;}
.section.bg {margin:0; padding:18px; background-color:#f9fafa;}
.section.bg + .section.bg {padding-top:0;}
.section:last-child {margin-bottom:18px;}

.article {margin:25px 18px 25px;}
.article:last-child {margin-bottom:10px;}
.section.bg > .article {margin-right:0; margin-left:0;}
.section.bg > .article:first-child {margin-top:0;}
.section_top + .article {margin-top:10px;}
.toggle_wrap .toggle_con .article {margin:0 0 25px;}
.toggle_wrap .toggle_con .article:last-child {margin-bottom:0;}
.toggle_wrap .toggle_con .article.area_btn {margin-top:30px; text-align:center;}

.section_top {display:flex; justify-content:space-between; align-items:center; margin:10px 0; padding:0 18px;}
.section.bg > .section_top {padding:0;}
.section_top .bx_tit {}
.section_top .bx_tit .tit {display:inline-block; font-size:1.143rem;}
.section_top .bx_tit strong {display:inline-block; font-size:1.143rem;}
.section_top .bx_side {margin-left:auto; font-size:0.857rem;}







.location_wrap{overflow-x:auto; padding:16px 18px; border-bottom:1px solid #ececec; white-space:nowrap;}
.location_wrap span,  
.location_wrap a {font-family:"KBFGTextB"; font-size:1.071rem}
.location_wrap span:after,
.location_wrap a:after {content:">"; display:inline-block; margin:0 5px; vertical-align:middle;}
.location_wrap span:last-child:after,
.location_wrap a:last-child:after {content:""; display:none;}
.location_wrap span {}
.location_wrap a {color:#555; text-decoration:underline}


.list_opt {}
.list_opt li {display:inline-block; margin:0 5px 8px 0;}
.list_opt li:before {content:""; display:inline-block; height:12px; margin:0 10px 0 2px; border-left:1px solid #999; vertical-align:middle;}
.list_opt li:first-child:before {display:none;}
.list_opt li a {text-decoration:underline;}


.article_btm_area {margin:25px 0; text-align:center;}
.toggle_wrap .toggle_con .article_btm_area:last-child {margin-bottom:0;}

.group_btn {display:inline-block; box-sizing:border-box; padding:0 18px; border:1px solid #ececec; border-radius:38px;}
.group_btn a {padding:10px 0; white-space:nowrap; vertical-align:middle;}
.group_btn a:before {content:"·"; display:inline-block; margin:0 5px; color:#999; vertical-align:middle;}
.group_btn a:first-child:before {display:none;}



.group_rdo {margin:5px 0;}
.group_rdo label {margin-right:12px;}

.group_rdo.rtl {text-align:right;}
.group_rdo.rtl label {margin-right:0; margin-left:12px;}


.toggle_wrap {}
.toggle_wrap .toggle_top {display:flex; justify-content:space-between; align-items:center; padding:10px 0;}
.toggle_wrap .toggle_top .bx_tit {flex:1;}
.toggle_wrap .toggle_top .bx_tit strong {display:inline-block; font-family:"KBFGTextB"; font-size:1.000rem; color:#222; vertical-align:middle;}
.toggle_wrap .toggle_top .bx_tit span {display:inline-block; margin-top:-2px; font-family:"KBFGTextB"; font-size:0.857rem; vertical-align:middle;}
.toggle_wrap .toggle_top .bx_tit span:before {content:""; display:inline-block; height:12px; margin:-1px 8px 0 6px; border-left:1px solid #999; vertical-align:middle;}
.toggle_wrap .toggle_top .bx_tit a {font-family:"KBFGTextB"; text-decoration:underline;}
.toggle_wrap .toggle_top .bx_tit input[type="text"] {width:100%; height:30px; padding:0; border:none;}
.toggle_wrap .toggle_top .bx_side {flex:0 0 auto; margin-left:auto;}
.toggle_wrap .toggle_top .bx_side .btn {}
.toggle_wrap .toggle_top .bx_side .btn.side {}
.toggle_wrap .toggle_top .bx_side .side:before {content:""; display:inline-block; height:10px; margin:0 8px 0 12px; border-left:1px solid #BBB; vertical-align:middle;}
.toggle_wrap .toggle_top .btn_toggle {display:inline-block; width:30px; height:30px; font-size:0; vertical-align:middle; background-repeat:no-repeat; background-position:center center;}
.toggle_wrap .toggle_con {display:none;}
.toggle_wrap.active > .toggle_con {display:block;}
.toggle_wrap .toggle_con.non_pad {padding:0 !important;}
.toggle_wrap .toggle_con .list_opt {padding:5px 18px 10px;}

.toggle_wrap.ty1 {margin-bottom:10px; border-radius:4px; box-shadow:0 0 5px rgba(0, 0, 0, .08); background-color:#FFF;}
.toggle_wrap.ty1 .toggle_top {padding:10px 18px;}
.toggle_wrap.ty1 .toggle_top .bx_tit {}
.toggle_wrap.ty1 .toggle_top .bx_tit strong {}
.toggle_wrap.ty1 .toggle_top .bx_tit span {}
.toggle_wrap.ty1 .toggle_top .bx_tit span:before {}
.toggle_wrap.ty1 .toggle_top .bx_side {}
.toggle_wrap.ty1 .toggle_top .bx_side .btn {}
.toggle_wrap.ty1 .toggle_top .bx_side .btn.side {}
.toggle_wrap.ty1 .toggle_top .bx_side .side:after {}

.toggle_wrap.ty1 .toggle_top .btn_toggle.open {background-size:10.5px 6px; background-image:url("../images/icon/btn_toggle_blk_dw.png")}
.toggle_wrap.ty1 .toggle_top .btn_toggle.close {background-size:10.5px 6px; background-image:url("../images/icon/btn_toggle_blk_up.png")}
.toggle_wrap.ty1 .toggle_con {padding:24px 18px;}

.toggle_wrap.ty2 {margin-bottom:1px; background-color:#FFF;}
.toggle_wrap.ty2.active {margin-bottom:0;}
.toggle_wrap.ty2 .toggle_top {padding:10px 18px; background-color:#ececec;}
.toggle_wrap.ty2 .toggle_top .bx_tit {}
.toggle_wrap.ty2 .toggle_top .bx_tit strong {}
.toggle_wrap.ty2 .toggle_top .bx_tit span {}
.toggle_wrap.ty2 .toggle_top .bx_tit span:before {}
.toggle_wrap.ty2 .toggle_top .bx_side {}
.toggle_wrap.ty2 .toggle_top .bx_side .btn {}
.toggle_wrap.ty2 .toggle_top .bx_side .btn.side {}
.toggle_wrap.ty2 .toggle_top .bx_side .side:after {}
.toggle_wrap.ty2 .toggle_top .btn_toggle.open {background-size:10.5px 5.5px; background-image:url("../../Content/images/icon/btn_toggle_gry_dw.png")}
.toggle_wrap.ty2 .toggle_top .btn_toggle.close {background-size:10.5px 5.5px; background-image:url("../../Content/images/icon/btn_toggle_gry_up.png")}
.toggle_wrap.ty2 .toggle_con {padding:24px 18px;}

.toggle_wrap.ty3 {margin-bottom:10px; border-radius:4px; box-shadow:0 0 5px rgba(0, 0, 0, .08); background-color:#FFF;}
.toggle_wrap.ty3 .toggle_top {display:block; padding:12px 8px; text-align:center;}
.toggle_wrap.ty3 .toggle_top .bx_pen {padding:8px 0 16px; border-bottom:1px solid #ececec;}
.toggle_wrap.ty3 .toggle_top .bx_pen .btn_pen {display:inline-block; padding-right:20px; font-size:1.071rem; color:#999; background:url("../../Content/images/icon/ic_pen.png") no-repeat right center; background-size:14px auto;}
.toggle_wrap.ty3 .toggle_top .bx_pen .btn_pen.active {font-size:1.214rem; color:#333; text-decoration:underline;}
.toggle_wrap.ty3 .toggle_top .bx_con {}
.toggle_wrap.ty3 .toggle_top .btn_toggle {display:block; width:auto;}
.toggle_wrap.ty3 .toggle_top .btn_toggle.open {background-size:10.5px 6px; background-image:url("../../Content/images/icon/btn_toggle_blk_dw.png")}
.toggle_wrap.ty3 .toggle_top .btn_toggle.close {background-size:10.5px 6px; background-image:url("../../Content/images/icon/btn_toggle_blk_up.png")}
.toggle_wrap.ty3 .toggle_con {padding:24px 18px;}





.toggle_wrap.ty5 {margin-bottom:1px; background-color:#FFF;}
.toggle_wrap.ty5 .toggle_top {padding:5px 18px; border:1px solid #DDD;}
.toggle_wrap.ty5 .toggle_top .bx_tit {}
.toggle_wrap.ty5 .toggle_top .bx_tit strong {font-family:"KBFGTextM"; font-size:1.143rem; color:#555;}
.toggle_wrap.ty5 .toggle_top .bx_tit span {}
.toggle_wrap.ty5 .toggle_top .bx_tit span:before {}
.toggle_wrap.ty5 .toggle_top .bx_side {}
.toggle_wrap.ty5 .toggle_top .bx_side .btn {height:30px; line-height:30px;}
.toggle_wrap.ty5 .toggle_top .bx_side .btn.side {}
.toggle_wrap.ty5 .toggle_top .bx_side .side:after {}

.toggle_wrap.ty5 .toggle_top .btn_toggle.open {background-size:10.5px 6px; background-image:url("../images/icon/btn_toggle_blk_dw.png")}
.toggle_wrap.ty5 .toggle_top .btn_toggle.close {background-size:10.5px 6px; background-image:url("../images/icon/btn_toggle_blk_up.png")}
.toggle_wrap.ty5 .toggle_con {padding:18px 16px; border:1px solid #DDD; border-top:none; background-color:#f9f9f9;}








.field_wrap {display:flex; justify-content:space-between; margin:0 -2px 25px;}
.field_wrap:last-child {margin-bottom:0;}
.field_wrap.bdr {padding:20px 0 0; border-top:1px solid #ededed;}
.toggle_wrap.ty1 .toggle_con .field_wrap.bdr:first-child {margin-top:-24px;}
.field_wrap > .field { margin:0 2px; }
.field {flex:1 1 0; align-items:center;}
.field .tit_legend {margin-bottom:6px; font-family:"KBFGTextB"; font-size:0.857rem;}
.field .tit_legend ~ .txt_side {float:right; font-family:"KBFGTextB"; font-size:0.857rem;}
.field .tit_legend ~ .txt_side.big {font-size:1.071rem;}
.field input[type="text"],
.field input[type="password"],
.field input[type="number"],
.field input[type="tel"],
.field input[type="date"],
.field select {width:100%;}

.field .group_row {display:flex; margin:0 -2px 8px; align-items:center;}
.field .group_row:last-child {margin-bottom:0}
.field .group_row > * {flex:1 1 auto; margin-right:2px; margin-left:2px;}
.field .group_row .sign {line-height:42px; margin:0 2px; color:#e4e4e4;}
.field .group_row .btn {flex:none;}

.field .group_row .bx_inp {display:flex; align-items:center; width:100%; height:42px; box-sizing:border-box; border:1px solid #DDD; background-color:#FFF;}
.field .group_row .bx_inp * {flex:1 1 auto;}
.field .group_row .bx_inp input {height:100%; border:none;}
.field .group_row .bx_inp .btn {flex-shrink:0; flex:none; margin:auto 15px auto 10px;}

.field .group_row .bx_vol {display:flex; align-items:center;}
.field .group_row .bx_vol input[type="text"] {height:50px; border-right:none; border-left:none; text-align:center;}
.field .group_row .bx_vol .btn_ic_minus,
.field .group_row .bx_vol .btn_ic_plus {flex:none; width:50px; height:50px;}

.field .group_row .bx_range .remark {display:flex;}
.field .group_row .bx_range .remark .txt_start {flex:1 1 auto; font-size:0.857rem; color:#999;}
.field .group_row .bx_range .remark .txt_end {flex:0 1 auto; font-size:0.857rem; color:#999;}

.field .group_row .bx_chk {display:flex; align-items:center; width:100%; height:42px; box-sizing:border-box; border:1px solid #DDD;}
.field .group_row .bx_chk .chk {flex:1 0 42px; box-sizing:border-box; text-align:center;}
.field .group_row .bx_chk input[type="text"] {height:100%; border:none; border-left:1px solid #DDD;}

.field .group_row .bx_selected {display:flex; align-items:center; width:100%; height:42px; box-sizing:border-box; padding:0 10px; background-color:#ffc000;}
.field .group_row .bx_selected .tit {flex:1 1 auto; font-size:1.071rem; color:#FFF;}
.field .group_row .bx_selected .btn {flex-shrink:0; flex:none;}

.field .group_row .bx_txt_lft {flex:1;}
.field .group_row .bx_txt_rgt {flex:0 0 auto;}

.field_btm {}
.field_btm a {display:block;}

.wdh_20per {width:20%;}
.wdh_40per {width:40%;}
.wdh_60per {width:60%;}





.bx_notice {box-sizing:border-box; padding:18px; border:1px solid #DDD; line-height:1.5; font-size:0.857rem; text-align:center;}
.bx_notice strong {color:#ff7e00;}

.bx_notice2 {line-height:1.5; padding:15px 10px; text-align:center; background-color:#f6f6f6;}
.bx_notice2 > .inner {display:inline-block; margin:0 auto; text-align:left;}
.bx_notice2.ic > .inner {padding-left:38px; background:#f6f6f6 url("../../Content/images/icon/ic_notice.png") no-repeat left center; background-size:auto 18px;}
.bx_notice2 .tit {font-size:0.857rem; color:#555;}
.bx_notice2 .txt {font-size:0.857rem; color:#999;}

 








/* list_btn */
.list_tog_btn {}
.list_tog_btn li {}
.list_tog_btn li a {}
.list_tog_btn li a.active {}
.list_tog_btn li a.disabled {pointer-events:none; color:#DDD;}
.field .group_row .list_tog_btn {margin-right:2px; margin-left:2px;}

.list_tog_btn.ty1 {margin:1px 0 0;}
.list_tog_btn.ty1 li {margin-top:-1px;}
.list_tog_btn.ty1 li a,
.list_tog_btn.ty1 li p {display:flex; align-items:center; position:relative; padding:15px 18px; border-bottom:1px solid #DDD;}
.list_tog_btn.ty1 li p.active {padding-top:20px; padding-bottom:20px; border-bottom:none; color:#FFF; background-color: #ffc000;}
.list_tog_btn.ty1 li a.active {z-index:1; border:1px solid #ffc000;}
.list_tog_btn.ty1 li a.active:after {content:"선택"; display:inline-block; width:15px; height:11px; margin:-2px 0 0 10px; font-size:0; background:url("../../Content/images/icon/ic_selected.png") no-repeat center center; background-size:16px auto;}
.list_tog_btn.ty1 li a strong,
.list_tog_btn.ty1 li p strong {flex:1 1 auto; line-height:1.5; font-size:0.929rem}
.list_tog_btn.ty1 li a span,
.list_tog_btn.ty1 li p span {flex:none; font-size:1.143rem;}

.list_tog_btn.ty2 {display:flex; flex-wrap:wrap; justify-content:flex-start; margin:-2px 0;}
.list_tog_btn.ty2 li {flex:1; margin:2px;}
.list_tog_btn.ty2 li a {display:flex; align-items:center; justify-content:center; height:57px; box-sizing:border-box; border:1px solid #DDD; text-align:center; background-color:#FFF;}
.list_tog_btn.ty2 li a.active {border-color:#ffc000; color:#FFF; background-color:#ffc000;}
.list_tog_btn.ty2.case2 li {flex:0 0 calc(50% - 4px);}
.list_tog_btn.ty2.case3 li {flex:0 0 calc(33.333% - 4px);}
.list_tog_btn.ty2.case4 li {flex:0 0 calc(25% - 4px);}

.list_tog_btn.ty3 {display:flex; flex-wrap:wrap; justify-content:flex-start; margin:-2px 0;}
.list_tog_btn.ty3 li {flex:1 0 auto; margin:2px;}
.list_tog_btn.ty3 li a {display:block; height:34px; line-height:34px; box-sizing:border-box; padding:0 16px; border-radius:34px; border:1px solid #e5e5e5; font-family:"KBFGTextB"; font-size:0.929rem; color:#002222; text-align:center; white-space:nowrap;}
.list_tog_btn.ty3.case2 li {flex:0 0 calc(50% - 4px);}
.list_tog_btn.ty3.case3 li {flex:0 0 calc(33.333% - 4px);}
.list_tog_btn.ty3.case4 li {flex:0 0 calc(25% - 4px);}
.list_tog_btn.ty3.case5 li {flex:0 0 calc(20% - 4px);}
.list_tog_btn.ty3.case2 li a,
.list_tog_btn.ty3.case3 li a,
.list_tog_btn.ty3.case4 li a,
.list_tog_btn.ty3.case5 li a {padding:0 4px;}
.list_tog_btn.ty3 li a.active {border-color:#ffc000; color:#FFF; background-color:#ffc000;}

.list_tog_btn.ty4 {display:flex; flex-wrap:wrap; justify-content:flex-start; margin:-2px 0;}
.list_tog_btn.ty4 li {flex:1; margin:2px;}
.list_tog_btn.ty4 li a {display:flex; align-items:center; justify-content:center; height:40px; box-sizing:border-box; border:1px solid #DDD; text-align:center; background-color:#FFF;}
.list_tog_btn.ty4 li a.active {border-color:#ffc000; color:#FFF; background-color:#ffc000;}
.list_tog_btn.ty4.case2 li {flex:0 0 calc(50% - 4px);}
.list_tog_btn.ty4.case3 li {flex:0 0 calc(33.333% - 4px);}
.list_tog_btn.ty4.case4 li {flex:0 0 calc(25% - 4px);}



.list_graph_btn {display:flex; flex-wrap:wrap; justify-content:flex-start; padding:10px 0 30px;}
.list_graph_btn li {flex:1 0 auto;}
.list_graph_btn li a {display:block; position:relative;}
.list_graph_btn li a em {display:block; overflow:hidden; position:relative; height:10px; background-color:#DDD;}
.list_graph_btn li a em:before {content:""; position:absolute; z-index:1; left:50%; top:0; bottom:0; border-left:1px solid #FFF;}
.list_graph_btn li a span {position:absolute; top:30px; width:100%; font-size:0.857rem; color:#777; text-align:center;}

.list_graph_btn li a.on {}
.list_graph_btn li a.on em {}
.list_graph_btn li a.on em:after {content:""; position:absolute; left:0; right:0; top:0; bottom:0; background-color:#ffc000;}
.list_graph_btn li a.active {}
.list_graph_btn li a.active:after {content:""; position:absolute; z-index:2; left:50%; top:50%; width:11px; height:11px; margin:-12px 0 0 -12px; border-radius:50%; border:7px solid #ffc000; background-color:#FFF;}
.list_graph_btn li a.active em:after {right:50%;}

.list_graph_btn li:first-child a em {border-radius:10px 0 0 10px;}
.list_graph_btn li:last-child a em {border-radius:0 10px 10px 0;}
.list_graph_btn li:first-child a em:before {display:none;}
.list_graph_btn li:last-child a em:before {display:none;}
.list_graph_btn li:first-child a span {text-align:left;}
.list_graph_btn li:last-child a span {text-align:right;}

.list_graph_btn li:first-child a.active:after {left:0; margin-left:0;}
.list_graph_btn li:last-child a.active:after {left:auto; right:0; margin-left:0;}
.list_graph_btn li:first-child a.active em:after {left:0; right:auto;}
.list_graph_btn li:last-child a.active em:after {right:0%;}


.list_graph_btn.case3 li {width:34%;}
.list_graph_btn.case3 li:first-child,
.list_graph_btn.case3 li:last-child {width:33%;}

.list_graph_btn.case4 li {width:33%;}
.list_graph_btn.case4 li:first-child,
.list_graph_btn.case4 li:last-child {width:17%;}

.list_graph_btn.case5 li {width:25%;}
.list_graph_btn.case5 li:first-child,
.list_graph_btn.case5 li:last-child {width:12.5%;}

.list_graph_btn.case6 li {width:20%;}
.list_graph_btn.case6 li:first-child,
.list_graph_btn.case6 li:last-child {width:10%;}

.list_graph_btn.case7 li {width:16.6%;}
.list_graph_btn.case7 li:first-child,
.list_graph_btn.case7 li:last-child {width:8.5%;}











.layer_btm_wrap {display:none; position:fixed; z-index:200; left:0; right:0; bottom:0; box-sizing:border-box; padding:30px 18px 0; border-radius:21px 21px 0 0; box-shadow:0 0 15px rgba(0, 0, 0, 0.2); background-color:#FFF;}
.layer_btm_wrap.active {display:block;}
.layer_btm_header {display:flex; align-items:center; padding-bottom:10px; border-bottom:1px solid #ececec;}
.layer_btm_header .bx_tit {flex:1;}
.layer_btm_header .bx_tit .tit {}
.layer_btm_header .bx_side {}
.layer_btm_header .bx_side .txt_cnt {}
.layer_btm_header .bx_side .txt_cnt strong {color:#ff7e00;}
.layer_btm_contents {}



.opt_list_wrap {overflow-y:scroll;}
.opt_list_wrap.size1 {height:134px;}
.opt_list_wrap ul {}
.opt_list_wrap ul li {}
.opt_list_wrap ul li a {display:block; padding:10px 12px; color:#222;}
.opt_list_wrap ul li a:hover {color:#FFF; background:#ffc000;}




.section_btm_fixed.active {}
.section_btm_fixed.active .btn_wrap2 {display:flex;}
.section_btm_fixed.dw {}
.section_btm_fixed.btm {}
.section_btm_fixed.btm .btn_wrap2 {display:flex;}

.section_btm_fixed {position:fixed; z-index:9; left:0; right:0; bottom:0;}

/* 버튼 */
.section_btm_fixed .btn_wrap2 {display:flex;}
.section_btm_fixed .btn_wrap2 > * {flex:1;}
.section_btm_fixed .btn_wrap2.fixed {}

/* 옵션 가격표 */
.section_btm_fixed .option_wrap {padding:10px 18px 0; border-radius:21px 21px 0 0; background-color:#fff; box-sizing:border-box; box-shadow:0 0 15px rgba(0, 0, 0, 0.2);}
.section_btm_fixed .option_wrap dl {display:flex; line-height:25px; align-items:center; justify-content:space-between; color:#333; font-size:14px;}
.section_btm_fixed .option_wrap dt::before {display:inline-block; content:""; margin-right:9px; width:3px; height:3px; vertical-align:middle; background-color:#000;}
.section_btm_fixed .option_wrap dl.total {line-height:52px;}
.section_btm_fixed .option_wrap dl.total dt,
.section_btm_fixed .option_wrap dl.total dd {font-family:"KBFGTextB";}
.section_btm_fixed .option_wrap dl.total dd strong {color:#ff7e00; font-size:16px; font-weight:bold;}
.section_btm_fixed .option_wrap > .price_list {display:none; padding-bottom:12px; border-bottom:1px solid #ececec;}
.section_btm_fixed .option_wrap > .price_list dl.total {line-height:25px;}

.section_btm_fixed .btn_toggle {position:absolute; left:0; top:0; width:100%; height:24px; font-size:0; text-indent:-9999px; border-radius:21px 21px 0 0;}
.section_btm_fixed .btn_toggle::after {content:""; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); width:42px; height:4px; border-radius:2px; background-color:#ddd;}












/*  */
.list_brand2.swiper-container {padding:4px 0 58px;}
.list_brand2 .swiper-slide {width:25%; text-align:center;}
.list_brand2 .swiper-slide a {display:block; position:relative; width:69px; height:69px; border-radius:8px; box-sizing:border-box;}
.list_brand2 .swiper-slide a.state {background-color:#f0f0f1;}
.list_brand2 .swiper-slide a.active {border:1px solid #ffcc00;}
.list_brand2 + .swiper-pagination .swiper-pagination-bullets {bottom:0;}


.list_brand2 .add {background-color:#f0f0f1;}
.list_brand2 .add::after {content:""; position:absolute; left:52px; top:-4px; width:20px; height:20px; font-size:0; border-radius:10px; background:url("../../Content/images/icon/btn_vol2_plus.png") no-repeat center center; background-size:100% auto;}


.list_brand2 .del {background-color:#f0f0f1;}
.list_brand2 .del::after {content:""; position:absolute; left:52px; top:-4px; width:20px; height:20px; font-size:0; border-radius:10px; background:url("../../Content/images/icon/btn_vol2_minus.png") no-repeat center center; background-size:100% auto;}

.list_brand2.ty2 .swiper-wrapper {flex-wrap:wrap;}
.list_brand2.ty2 .swiper-wrapper .swiper-slide:nth-of-type(1n+5) {margin-top:10px;}



/*********************************
* 해상도 320 이하
*********************************/
@media screen and (max-width:320px) {

}

